---
import Logo from "./Logo.astro";

export interface Props {
  title: string;
  description?: string;
  logo?: string;
}

const { title, description, logo, logoDescription } = Astro.props;
---

<header class="site-header">
  <Logo logoPath={logo} title={title} />

  {description && <p class="instructions visually-hidden">{description}</p>}
</header>

<style>
  header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
  }
  header:has(svg) .title-text {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }
  header :is(h1, p) {
    margin: 0;
  }
</style>
