---
import { Image } from "@astrojs/image/components";
export interface Props {
  title: string;
  logoPath?: string;
}

const { logoPath, title } = Astro.props;
const isSvg = logoPath && logoPath?.endsWith(".svg");
---

<h1>
  {
    logoPath ? (
      <Image
        src={logoPath}
        alt={title}
        format="webp"
        width="640"
        aspectRatio={16 / 9}
        fit="inside"
      />
    ) : (
      title
    )
  }

  <style>
    h1 {
      font-size: 2rem;
      font-weight: 700;
      color: var(--textColor);
      margin: 0;
    }
    img {
      max-height: 60px;
      width: auto;
    }
  </style>
</h1>
