---
import CardList, { LinkProps } from "./CardList.astro";

export interface Props {
  title: string;
  description?: string;
  links?: Array<LinkProps>;
  showHeader?: boolean;
}

const { title, description, links, showHeader } = Astro.props;
---

<article class="link-section">
  <header class={showHeader ? "" : "visually-hidden"}>
    <h2>{title}</h2>
    {description && <p>{description}</p>}
  </header>
  {links && links.length > 0 && <CardList links={links} />}
</article>

<style>
  .link-section {
    display: flex;
    flex-direction: column;
    padding: 1rem 0.15rem;
    transition: 0.5s ease-in-out all;
  }
  h2 {
    margin: 0;
    font-size: 1rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    text-transform: uppercase;
  }
  p {
    color: var(--textColor);
    font-size: 0.8rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
</style>
