---
import type { MarkdownInstance } from "astro";
import Social from "./Social.astro";

export interface Props {
  socials: MarkdownInstance<Record<string, any>>[];
}

const { socials } = Astro.props;
---

<>
  {
    socials &&
      socials.map((social) => (
        <>
          <h2 class="visually-hidden">{social.frontmatter.title}</h2>
          <ul class="list">
            {social.frontmatter.links.map(
              (link: { platform: string; url: string }) => (
                <Social platform={link.platform} url={link.url} />
              )
            )}
          </ul>
        </>
      ))
  }
</>

<style>
  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
</style>
