---
export interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --accentColor: 185, 89, 76;
    --textColor: rgba(246, 246, 246, 1);
    --linkColor: rgba(255, 255, 255, 1);
    --linkColorHover: rgba(255, 255, 255, 0.6);
    --bgColor: rgb(var(--accentColor));
    --borderColor: rgba(0, 0, 0, 0.2);
    --bgGradient: radial-gradient(
        at 79% 56%,
        hsla(347, 0%, 100%, 0.14) 0px,
        transparent 50%
      ),
      radial-gradient(at 57% 10%, hsla(200, 0%, 0%, 0.21) 0px, transparent 50%),
      radial-gradient(at 5% 95%, hsla(0, 0%, 0%, 0.73) 0px, transparent 50%),
      radial-gradient(at 98% 51%, hsla(0, 0%, 100%, 0.02) 0px, transparent 50%),
      linear-gradient(0deg, hsla(0, 0%, 0%, 0.2) 0%, hsla(0, 0%, 0%, 0.2) 100%);
  }

  html {
    font-family: system-ui, sans-serif;
    background-color: var(--bgColor);
    background-image: var(--bgGradient);
    color: var(--textColor);
    height: 100%;
    margin: 0;
  }
  body {
    background-image: linear-gradient(
      to bottom,
      rgba(var(--accentColor), 1) 0%,
      rgba(var(--accentColor), 0) 30vh
    );
    margin: 0;
    height: 100%;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }

  .visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }

  a {
    color: var(--linkColor);
    text-decoration: none;
    transition: 0.3s ease-in-out all;
  }
  a:focus,
  a:hover {
    color: var(--linkHoverColor);
  }
</style>
